<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.findmyjob.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <meta-data
        android:name="firebase_messaging_auto_init_enabled"
        android:value="false" />
    <meta-data
        android:name="firebase_analytics_collection_enabled"
        android:value="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".modules.employer.EmployerDetails"></activity>
        <activity android:name=".modules.emplyee.ViewJobsActivity" />
        <activity android:name=".modules.employer.postJob.PostJobActivity" />
        <activity
            android:name=".modules.employer.EmployerDashboard"
            android:label="@string/title_activity_employer_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".modules.profile.InterviewTips"
            android:theme="@style/SliderAppThemeWithActionBar" />
        <activity android:name=".modules.profile.ViewPdf" />
        <activity
            android:name=".modules.profile.AddResume"
            android:theme="@style/AppThemeWithActionBar" />
        <activity android:name=".modules.employer.DashboardEmployer" />
        <activity
            android:name=".modules.login.OTPActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.profile.AddDetails"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".modules.profile.ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".modules.login.EmployerRegister"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".modules.login.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".modules.launcher.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.dashboard.MainActivity"
            android:theme="@style/AppThemeWithActionBar" />
    </application>

</manifest>