<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.findmyjob.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".modules.employer.postedJobs.ViewApplicantsActivity"></activity>
        <activity android:name=".modules.employer.postedJobs.ViewPostedJobsActivity" />
        <activity android:name=".modules.employer.EmployerCallDetails" />
        <activity android:name=".modules.employee.ViewJobDetailsActivity" />
        <activity android:name=".modules.employer.ViewJobApplicationsEMP" />
        <activity android:name=".modules.employer.PrivacyEmployer" />
        <activity android:name=".modules.employee.PrivacyActivity" />

        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <activity android:name=".modules.employee.MyCalls" />
        <activity android:name=".modules.employee.MyAccount" />
        <activity
            android:name=".modules.employee.ViewJobsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.employer.postJob.PostJobActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".modules.profile.InterviewTips"
            android:theme="@style/SliderAppThemeWithActionBar" />
        <activity android:name=".modules.profile.ViewPdf" />
        <activity android:name=".modules.profile.AddResume" />
        <activity
            android:name=".modules.employer.CompanyProfile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".modules.employer.DashboardEmployer" />
        <activity
            android:name=".modules.login.OTPActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.profile.AddDetails"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".modules.profile.ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".modules.login.EmployerRegister"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".modules.login.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".modules.launcher.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>